@charset "utf-8";
/* CSS Document */

/* content */
header {
	padding-top: 15%;
	padding-bottom: 15%;
	background-color: #e6e6e6;
}
h2 {
	color: #4d4d4d;
	font-weight: 500;
}
header p {
	font-size: 1.2em;
	color: #666666;
}
.btn {
	margin-top: 30px;
}
.btn-primary {
	background-color: #0b8db9;
	border-color: #0b8db9;
	padding: 10px 40px;
	font-size: 1.2em;
}
.btn-primary:hover {
	background-color: #0eb5f0;
	border-color: #0eb5f0;
}
.btn-warning {
	background-color: #104573;
	border-color: #104573;
	padding: 10px 40px;
	font-size: 1.2em;
}
.btn-warning:hover {
	background-color: #1e84d9;
	border-color: #1e84d9;
}

.line {
	border-color: #cccccc;
	border-left-style:solid;
	border-left-width:3px;
}
